$base-class: map-annotation;

.#{$base-class} {
  display: flex;

  #map {
    flex: 1;
  }
  :deep(.tdt-container) {
    .tdt-control-copyright {
      display: none;
    }
  }

  .#{$base-class}__sidebar {
    width: 300px;
    display: flex;
    .#{$base-class}__markers {
      flex: 1;
      display: flex;
      flex-direction: column;
      & > ul {
        flex: 1;
        height: 0;
        overflow-y: auto;
      }
    }
    & > .el-divider {
      margin: 0;
      height: 100%;
    }
  }
}
