$base-class: map-annotation;

.#{$base-class} {
  display: flex;

  #map {
    flex: 1;
  }
  :deep(.tdt-container) {
    .tdt-control-copyright {
      display: none;
    }
  }

  .#{$base-class}__sidebar {
    width: 300px;
    display: flex;
    & > div:first-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      .#{$base-class}__markers {
        flex: 1;
        height: 0;
        overflow-y: auto;
        & > div {
          padding-top: 10px;
          & > div {
            height: 32px;
            padding: 0 10px;
            cursor: grab;
            user-select: none;
            display: flex;
            align-items: center;
            span {
              color: var(--el-text-color-regular);
              padding-left: 8px;
            }
            &:hover {
              background-color: var(--el-fill-color-light);
            }
          }
        }
      }
      .#{$base-class}__buttons {
        padding: 10px;
        display: flex;
        .el-button {
          flex: 1;
        }
      }
    }
    & > .el-divider {
      margin: 0;
      height: 100%;
    }
  }
}
