.risk-statistics {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-template-rows: repeat(2, minmax(300px, 1fr));
  & > div {
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      grid-column: span 2 / span 2;
    }
    .c-subtitle-1 {
      margin-bottom: 10px;
      & + div {
        background-color: rgba(0, 0, 0, 0.03);
        flex: auto;
      }
    }
  }
  & > .c1 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    & > div {
      display: flex;
      flex-direction: column;
      &:nth-child(1),
      &:nth-child(2) {
        & > div:last-child {
          font-size: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &:nth-child(3) {
        grid-column: span 2 / span 2;
        & > div:last-child > .el-button {
          display: block;
          margin: 5px 0 0 5px;
        }
      }
    }
  }
}
